name: Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-pacman-game
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate Pacman Contribution Graph
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}
          themes: dark
          
      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
          keep_files: true  # <--- INI KUNCINYA BIAR GAK MENGHAPUS SNAKE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
